<!doctype html>
<html>
  <head>
    <title>Csoki csere!</title>
	<link rel="stylesheet" href="bootstrap.css">
  </head>
	<body>
	<div class="container">
  <div class="row">
    <div class="">
      
    </div>
    <div class="">
      <br/>
	  <br/>
	  <br/>
    </div>
    <div class="">
      
    </div>
  </div>
</div>
	
	<div class="container">
  <div class="row">
    <div class="col-sm" style="background: transparent">
     
    </div>
    <div class="col-sm">
    <center><h1><b>Csoki csere!</b></h1><br/>  
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Email cím</label>
			<input type="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Jelszó</label>
			<input type="password" class="form-control">
		</div>
		<a href="/fooldal.html" button type="submit" class="btn btn-primary">Bejelentkezés</button></a>
		<br/>
		<a href="/elfelejtett.html">Elfelejtettem a jelszavam</a>
		<br/>
		<a href="/index.html">Vissza a regisztrációhoz</a>
		<br/>
	</form>
	</center>
    </div>
    <div class="col-sm" style="background: transparent">>
      
    </div>
  </div>
</div>
	</body>
</html>