<!doctype html>
<html>
  <head>
    <title>Csoki csere!</title>
	<link rel="stylesheet" href="bootstrap.css">
  </head>
	<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
		  <a class="navbar-brand" href="#">Csoki csere!</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/fooldal.html">Főoldal <span class="sr-only">(jelenlegi)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/hozzaad.html">Hozzáadás</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/torol.html">Szerkesztés </a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/index.html">Kijelentkezés </a>
			  </li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			  <input class="form-control mr-sm-2" type="text" placeholder="Search">
			  <button class="btn btn-warning my-2 my-sm-0" type="submit">Keresés</button>
			</form>
		  </div>
	</nav>
	
	

	<div class="container">
  <div class="row">
    <div class="">
      
    </div>
    <div class="">
      <br/>
	  <br/>
	  <br/>
    </div>
    <div class="">
      
    </div>
  </div>
</div>
	

<div class="container">
  <div class="row">
    <div class="col-sm-6" style="background: transparent">
    </div>
	<div class="col-sm-4 position-fixed" id="me" style="background: transparent">
      <div class="col-sm" >
	  <h1>Név</h1>
	  (bejelentkezett felhasz)
	  <h3>email cím</h3>
	  <div class="row">
		<div class="col-sm">
		<h3>Kínál:</h3>
		<ul>
			<li>Mogyorós</li>
			<li>Epres</li>
			<li>Akármi</li>
		</ul>
		</div>
		<div class="col-sm">
		<h3>Keres:</h3>
		<ul>
			<li>Meggyes</li>
		</ul>
		</div>
	  </div>
	  </div>
    </div>
   
    <div class="col-sm-5" id="others" style="background: transparent">
      
<div class="col-sm" >
	  <h1>Név</h1>
	  <h3>email cím</h3>
	  <div class="row">
		<div class="col-sm">
		<h3>Kínál:</h3>
		<ul>
			<li>Pisztáciás</li>
			<li>Karamellás</li>
			<li>Kekszes</li>
		</ul>
		</div>
		<div class="col-sm">
		<h3>Keres:</h3>
		<ul>
			<li>Akármi</li>
		</ul>
		</div>
		</div>
	  </div>
	  <br/>
	  
	  <div class="col-sm">
	  <h1>Név</h1>
	  <h3>email cím</h3>
	  <div class="row">
		<div class="col-sm">
		<h3>Kínál:</h3>
		<ul>
			<li>Pisztáciás</li>
			<li>Karamellás</li>
			<li>Kekszes</li>
		</ul>
		</div>
		<div class="col-sm">
		<h3>Keres:</h3>
		<ul>
			<li>Akármi</li>
		</ul>
		</div>
		</div>
	  </div>
	  <br/>
	  
	  <div class="col-sm" >
	  <h1>Név</h1>
	  <h3>email cím</h3>
	  <div class="row">
		<div class="col-sm">
		<h3>Kínál:</h3>
		<ul>
			<li>Pisztáciás</li>
			<li>Karamellás</li>
			<li>Kekszes</li>
		</ul>
		</div>
		<div class="col-sm">
		<h3>Keres:</h3>
		<ul>
			<li>Akármi</li>
		</ul>
		</div>
		</div>
	  </div>
	  <br/>
	  
    </div>
  </div>
</div>
	
	</body>
</html>