<!doctype html>
<html>
  <head>
    <title>Csoki csere!</title>
	<link rel="stylesheet" href="bootstrap.css">
  </head>
	<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
		  <a class="navbar-brand" href="#">Csoki csere!</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/fooldal.html">Főoldal <span class="sr-only">(jelenlegi)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/hozzaad.html">Hozzáadás</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/torol.html">Szerkesztés </a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/index.html">Kijelentkezés </a>
			  </li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			  <input class="form-control mr-sm-2" type="text" placeholder="Search">
			  <button class="btn btn-warning my-2 my-sm-0" type="submit">Keresés</button>
			</form>
		  </div>
	</nav>
	
	
	<div class="container">
  <div class="row">
    <div class="">
      
    </div>
    <div class="">
      <br/>
	  <br/>
	  <br/>
    </div>
    <div class="">
      
    </div>
  </div>
</div>
	
<div class="container">
    <div class="col-sm-5">
<h1>Név</h1>
	  (bejelentkezett felhasz)
	  <h3>email cím</h3>
		Keres/kínál:
		<br/>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
		  <label class="form-check-label" for="exampleRadios1">
			Keres
		  </label>
		</div>
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
		  <label class="form-check-label" for="exampleRadios2">
			Kínál
		  </label>
		</div>
		<br/>
		Milyen csokit?
		<br/>
		<form>
		  <div class="form-group">
			<input type="choco" class="form-control" placeholder="Írd be a csokit">
		  </div>
		  <a href="/hozzaad.html" button type="submit" class="btn btn-primary">Mehet!</button></a>
		</form>
		<br/>
    </div>
	<br/>
	<a href="/fooldal.html" button type="button" class="btn btn-warning">Vissza</button></a>
  </div>
	</body>
</html>