
<!doctype html>
<html>
  <head>
    <title>Csoki csere!</title>
	<link rel="stylesheet" href="bootstrap.css">
  </head>
	<body>
	
<div class="container">
  <div class="row">
    <div class="">
      
    </div>
    <div class="">
      <br/>
	  <br/>
	  <br/>
    </div>
    <div class="">
      
    </div>
  </div>
</div>
	
	<div class="container">
  <div class="row align-items-center">
    <div class="col-sm" style="background: transparent">
     
    </div>
    <div class="col-sm">
    <center><h1><b>Csoki csere!</b></h1><br/>  
	Vegyél részt a cserében! Regisztrálj most a legédesebb élményért!<br/>
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Név</label>
			<input type="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email cím</label>
			<input type="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Jelszó</label>
			<input type="password" class="form-control">
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input">
			<label class="form-check-label" for="exampleCheck1">Nem vagyok robot</label>
			</div>
		<a href="/fooldal.html" button type="submit" class="btn btn-primary">Regisztráció</button></a>
	</form>
	<a href="/bejelentkezes.html">Már van profilom</a>
	</center>
    </div>
    <div class="col-sm" style="background: transparent">
      
    </div>
  </div>
</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>
</html>
